.navbar-brand {
  font-weight: 800;
}

body { 
    background: rgb(248, 216, 247);
 }

.hero-placeholder {
  color: #9ca3af;
  padding: 4rem 1rem;
  display: flex;
  align-items: centre;
  justify-content: centre;
}



.card {
  background-color: rgb(248, 216, 247);
  border: #000000, solid;
  color: #000000;
}

.card-footer {
  background-color: rgb(248, 216, 247);
}

a.btn-primary {
  background-color: #2563eb;
  border-color: #2563eb;
}

.skill-img{
    margin-left: 150px;
    margin-top: 50px;
}

footer {
  border-top: 1px solid #1f2937;
}




























